*{
  margin: 0;
  padding:0;
}
.App {
  text-align: center;
}
li{
  list-style: none
}

.list-wrap{
  overflow: hidden;
  width: 200px;
}
.list-wrap li{
  float: left;
  min-width:50px;
      min-width: 66px;
      height:25px;
}
.list-wrap li.time{
  
}
.list-wrap li.cont{
  background-color:yellow;
}
.list-wrap li.price{
  background-color:aquamarine;
}

.money-list{
  width: 270px;
  margin: 0 auto; 
}

